.su_panel{
    background: #1d1d1b;
    color: #ffffff;
}

.su_center{
    background: #e2dfcf;
}


path.arc {
    cursor: move;
    fill: #e2dfcf;
}

.node {
    font-size: 10px;
}

.node:hover {
    fill: #1f77b4;
}

.link {
    fill: none;
    stroke: #ffffff;
    stroke-opacity: .2;
    pointer-events: none;
}

.link.source, .link.target {
    stroke-opacity: 1;
}

.node rect{
    opacity: .4;
}
.node.target {
    fill: #d62728 !important;
}
.node.target rect, .node.source rect, .node.current rect{
    opacity: 1;
}
.node.source {
    fill: #2ca02c;
}

.partition {
}